@model MessageServiceModel

<div class="col-md-4">
    <div class="card mb-3">
        <div class="card-body text-center">
            <h4>Created On: @Model.DateAndTime</h4>
            <h4>Description: @Model.Description</h4>
            <h4>Condition: @Model.Condition</h4>
            <h4>File: @Model.FilePath</h4>
            <h4>First Name: @Model.FirstName</h4>
            <h4>Second Name: @Model.SecondName</h4>
            <h4>Email: @Model.Email</h4>
            <br />
        </div>
    </div>
</div>