@model TicketServiceModel

<div class="col-md-4">
    <div class="card mb-3">
        <div class="card-body text-center">
            <h4>Title: @Model.Title</h4>
            <h4>Created On: @Model.DateAndTime</h4>
            <h4>Description: @Model.Description</h4>
            <h4>Type: @Model.Type</h4>
            <h4>Condition: @Model.Condition</h4>
            <h4>File: @Model.FilePath</h4>
            <h4>First Name: @Model.FirstName</h4>
            <h4>Second Name: @Model.SecondName</h4>
            <h4>Email: @Model.Email</h4>
            <br />
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole(AdminRoleName) || User.IsInRole(StaffRoleName))
                {
                    <a asp-area="Staff" asp-controller="Ticket" asp-action="Delete" asp-route-id="@Model.Id"
               class="btn btn-danger">Delete</a>
                }
                if (User.IsInRole(AdminRoleName) || User.IsInRole(StaffRoleName))
                {
                    <a asp-area="Staff" asp-controller="Ticket" asp-action="Edit" asp-route-id="@Model.Id"
               class="btn btn-success">Edit</a>
                }
            }
            <a asp-area="Client" asp-controller="Ticket" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-success">Messages</a>
        </div>
    </div>
</div>