@model TicketDetailsModel

@{
    ViewBag.Title = "Ticket Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="card col-8 border-0">
            <p style="font-size:45px;"><u>@Model.Title</u></p>
            <p>Description: @Model.Description</p>
            <p>Date of creation: @Model.DateAndTime</p>
            <p>File: @Model.FilePath</p>
            <p>Email: @Model.Email</p>
            <p>First Name: @Model.FirstName</p>
            <p>Second Name: @Model.SecondName</p>
            <p>Condition: @Model.Condition</p>
            <p>Type: @Model.Type</p>
            <div class="form-inline">
                @if (this.User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole(AdminRoleName) || User.IsInRole(StaffRoleName))
                    {
                        <a class="ml-2 btn btn-danger" asp-area="Staff" asp-controller="Ticket" asp-action="Delete"
                   asp-route-id="@Model.Id">Delete</a>
                    }
                }
                @if (!(Model.Condition == "Приключен"))
                {
                    <a class="ml-2 btn btn-success" asp-area="Client" asp-controller="Message" asp-action="Create"
                   asp-route-id="@Model.Id">Send a Message</a>
                }
            </div>
            @foreach (var ticket in Model.Messages)
            {
                <partial name="_MessagePartial" model="@ticket" />
            }
            <p></p>
        </div>
    </div>
</div>
